{% extends 'base.html.twig' %}


{% block body %}
    <h1>Nieuw Aanbod (2/2)</h1>
    <div class="input-group" style="max-width: 300px">
        <div class="input-group-prepend">
            <span class="input-group-text" style="background-color: cornflowerblue"><strong>NL</strong></span>
        </div>
        <div class="form-control big-box">
            {{ licensePlate }}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

