{% extends 'base.html.twig' %}

{% block body %}
    {% if (username is not null) %}
        <h1>Welkom op de homepagina, {{ username }}!</h1>
    {% else %}
        <h1>Welkom op de homepagina!</h1>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OFFERER') %}
        <a class="btn btn-primary" href="{{ path('offer_create_step1') }}">Nieuw Aanbod</a>
    {% endif %}
{% endblock %}